[credential]
  helper = osxkeychain
[core]
  editor = vim
  excludesfile = ~/.gitignore_global
[user]
  name = <name>
  email = <email>
[log]
  date = relative
[format]
  pretty = format:%C(auto,yellow)%h%C(auto,magenta)% G? %C(auto,blue)%>(12,trunc)%ad %C(auto,green)%<(15,trunc)%aN%C(auto,reset)%s%C(auto,red)% gD% D